body {
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow:1;

}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 50px;
}

.links {
    display: flex;
    gap: 25px;
}

.first {
    background-color: #1F2937;
    display: flex;
    padding:70px 50px;
    align-items: center;
    justify-content: space-around;

}

.firsta {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 50px 70px;

}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    max-width:200px;
    text-align: center;
}

.info img {
    border-radius: 8%;
    height:150px;
    width: 150px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    padding:60px 450px;
}

.italic {
    font-style: italic;
    font-size: 36px;
    font-weight: light;
    color:#1F2937;
    margin-bottom: 0;
}

.author {
    text-align:right ;
    font-weight: bold;
}

.fourth {
    background-color: #3882F6;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:75px 200px;
    padding:25px
}

.fourtha {
    display: flex;
    flex-direction: column;
    margin-right:100px;
}

h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.fourtha p {
    margin-top:0;
}


.footer {
    background-color: #1F2937;
    padding:40px;
    text-align: center;
}

.headertext {
    font-size: 24px;
    color:#F9FAF8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.infoheader {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.firsta button {
    font-size: 18px;
    color:#F9FAF8;
    width: 120px;
    padding:5px;
    background-color: #3882F6;
    border:5px;
    border-radius: 6px;
}

.fourth button {
    font-size: 18px;
    color:#F9FAF8;
    width: 120px;
    padding:5px;
    background-color: #3882F6;
    border:2px;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 6px;
}